repos:
  - repo: https://github.com/PyCQA/isort
    rev: 5.5.4
    hooks:
      - id: isort

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.0
    hooks:
      - id: flake8
        name: flake8
        entry: flake8 --config tox.ini
        language: python_venv
        additional_dependencies: [ flake8-comprehensions, flake8-import-order ]
        types: [ python ]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.931
    hooks:
      - id: mypy
        files: src/ test/
        additional_dependencies:
          - numpy>=1.22
          - gamma-pytools>=2.0.dev8,<3a
          - sklearndf>=2.0.dev3,<3a
