repos:
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort

  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://gitlab.com/pycqa/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        name: flake8
        entry: flake8 --config tox.ini
        language: python_venv
        additional_dependencies:
          - flake8-comprehensions ~= 3.10
        types: [ python ]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-xml
      - id: check-yaml
        exclude: condabuild/meta.yaml

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.971
    hooks:
      - id: mypy
        files: src|sphinx|test
        language_version: python39
        additional_dependencies:
          - numpy~=1.22
          - gamma-pytools~=2.0,!=2.0.0
          - sklearndf~=2.0
