# set the build name
name: $[ variables['branchName'] ]

# RUN TESTS AND FULL CONDA BUILD MATRIX EVERY NIGHT AT 4AM
schedules:
- cron: "0 4 * * *"
  displayName: Nightly full build
  branches:
    include:
    - develop

resources:
  repositories:
    - repository: sklearndf
      type: github
      endpoint: BCG-Gamma
      name: BCG-Gamma/sklearndf
      ref: develop # todo - update to stable release
    - repository: pytools
      type: github
      endpoint: BCG-Gamma
      name: BCG-Gamma/pytools
      ref: develop # todo - update to stable release

variables:
  ${{ if not(startsWith(variables['Build.SourceBranch'], 'refs/pull/')) }}:
    branchName: $[ replace(variables['Build.SourceBranch'], 'refs/heads/', '') ]
  ${{ if startsWith(variables['Build.SourceBranch'], 'refs/pull/') }}:
    branchName: $[ replace(variables['System.PullRequest.TargetBranch'], 'refs/heads/', '') ]
  master_or_release: >
    ${{ or(
    startsWith(variables['branchName'], 'release'),
    eq(variables['branchName'], 'master'),
    eq(variables['Build.Reason'], 'Schedule')
    )
    }}

stages:
  # Check code quality first to fail fast (isort, flake8, black)
  - stage: code_quality_checks
    displayName: 'Code quality'
    jobs:
      - job:
        displayName: 'isort'
        steps:
          - task: UsePythonVersion@0
            inputs:
              versionSpec: '3.7.*'
            displayName: 'use Python 3.7'
          - script: |
              python -m pip install isort==5.5.4
              python -m isort --check --diff .
            displayName: 'Run isort'
      - job:
        displayName: 'black'
        steps:
          - task: UsePythonVersion@0
            inputs:
              versionSpec: '3.7.*'
            displayName: 'use Python 3.7'
          - script: |
              python -m pip install black==20.8b1
              python -m black --check .
            displayName: 'Run black'
      - job:
        displayName: 'flake8'
        steps:
          - task: UsePythonVersion@0
            inputs:
              versionSpec: '3.7.*'
            displayName: 'use Python 3.7'
          - script: |
              python -m pip install flake8 flake8-comprehensions flake8-import-order
              python -m flake8 --config tox.ini -v .
            displayName: 'Run flake8'

  # detect whether the build config (pyproject.toml) was changed -> then we must run a build test
  - stage: detect_build_config_changes
    displayName: 'Pyproject.toml build config'

    jobs:

      - job: checkout_and_diff
        steps:
          - checkout: self

          - task: Bash@3
            name: diff
            inputs:
              targetType: 'inline'
              script: |
                cd $(Build.Repository.LocalPath)
                git diff-index --exit-code "origin/$(branchName)" pyproject.yml
                build_changed="$?"
                if [ "$build_changed" = 1 ]; then
                echo "conda build config has been changed"
                else
                echo "conda build config is unchanged"
                fi
                echo "##vso[task.setvariable variable=conda_build_config_changed;isOutput=true]$build_changed"


  - stage:
    displayName: 'Unit tests'
    dependsOn: 'detect_build_config_changes'
    variables:
      conda_build_config_changed: $[ stageDependencies.detect_build_config_changes.checkout_and_diff.outputs['diff.conda_build_config_changed'] ]

    jobs:
    - job:
      displayName: 'pytest @ develop environment'
      condition: >
        and(
        ne(variables.master_or_release, 'True'),
        eq(stageDependencies.detect_build_config_changes.checkout_and_diff.outputs['diff.conda_build_config_changed'], '0')
        )

      pool:
          vmImage: 'ubuntu-latest'

      steps:
        - task: UsePythonVersion@0
          inputs:
            versionSpec: '3.7.*'
          displayName: 'use Python 3.7'

        - checkout: self
        - checkout: sklearndf
        - checkout: pytools

        - script: dir $(Build.SourcesDirectory)

        - task: Bash@3
          inputs:
            targetType: 'inline'
            script: |
              set -e
              eval "$(conda shell.bash hook)"
              cd $(System.DefaultWorkingDirectory)/facet/
              export PYTHONPATH=$(System.DefaultWorkingDirectory)/facet/src/
              conda env create -f environment.yml
              conda activate facet-develop
              pip install flit
              cd $(System.DefaultWorkingDirectory)/pytools/
              flit install -s
              cd $(System.DefaultWorkingDirectory)/sklearndf/
              pip install -e .
              cd $(System.DefaultWorkingDirectory)/facet/
              pip install pytest-azurepipelines
              coverage run -m pytest test/test/
              coverage xml
              coverage html
          displayName: 'pytest'

        - task: PublishTestResults@2
          condition: succeededOrFailed()
          inputs:
            testResultsFiles: '$(System.DefaultWorkingDirectory)/facet/*.xml'
            searchFolder: '$(System.DefaultWorkingDirectory)/facet/'
            testRunTitle: 'Publish test results'

        - task: PublishCodeCoverageResults@1
          inputs:
            codeCoverageTool: Cobertura
            summaryFileLocation: '$(System.DefaultWorkingDirectory)/facet/coverage.xml'
            reportDirectory: '$(System.DefaultWorkingDirectory)/facet/htmlcov'

  # CONDA ENV BUILD TEST
  # TESTING MATRIX OF PYTHON & SKLEARN VERSIONS
  # - FOR RELEASE BRANCH: 3 BUILD TESTS
  # - OTHERWISE: 1 BUILD TEST
  - stage:
    displayName: 'Conda build & pytest'
    dependsOn: 'detect_build_config_changes'
    variables:
      conda_build_config_changed: $[ stageDependencies.detect_build_config_changes.checkout_and_diff.outputs['diff.conda_build_config_changed'] ]

    jobs:
    - job:
      displayName: 'single'
      condition: >
        and(
        ne(variables.master_or_release, 'True'),
        ne(stageDependencies.detect_conda_changes.checkout_and_diff.outputs['diff.conda_build_config_changed'], '0')
        )

      pool:
          vmImage: 'ubuntu-latest'
      strategy:
        matrix:
          maximum_dependencies_conda:
            FACET_V_PYTHON_BUILD: '=3.8.*'
            BUILD_SYSTEM: 'conda'
            PKG_DEPENDENCIES: 'max'
          maximum_dependencies_tox:
            FACET_V_PYTHON_BUILD: '=3.8.*'
            BUILD_SYSTEM: 'tox'
            PKG_DEPENDENCIES: 'max'

      steps:
        - task: UsePythonVersion@0
          inputs:
            versionSpec: '$(FACET_V_PYTHON_BUILD)'
          displayName: 'Use Python $(FACET_V_PYTHON_BUILD)'

        - checkout: self
        - checkout: sklearndf
        - checkout: pytools

        - script: dir $(Build.SourcesDirectory)

        - script: |
            conda install -y conda-build toml=0.10.* flit=3.0.*
          displayName: 'Install conda-build, flit, toml'
          condition: eq(variables['BUILD_SYSTEM'], 'conda')

        - script: |
            python -m pip install "toml==0.10.*"
            python -m pip install "flit==3.0.*"
            flit --version
            python -m pip install "tox==3.20.*"
            tox --version
          displayName: 'Install tox, flit & toml'
          condition: eq(variables['BUILD_SYSTEM'], 'tox')

        - task: Bash@3
          inputs:
            targetType: 'inline'
            script: |
              if [ "$BUILD_SYSTEM" = "conda" ] ; then eval "$(conda shell.bash hook)" ; fi

              cd $(Build.SourcesDirectory)/pytools
              ./make.py pytools $(BUILD_SYSTEM) $(PKG_DEPENDENCIES)

              cd $(Build.SourcesDirectory)/sklearndf
              ./make.py sklearndf $(BUILD_SYSTEM) $(PKG_DEPENDENCIES)

              cd $(Build.SourcesDirectory)/facet
              ./make.py facet $(BUILD_SYSTEM) $(PKG_DEPENDENCIES)

          displayName: "Build conda&pip package"

    - job:
      displayName: 'matrix'
      condition: eq(variables.master_or_release, 'True')

      pool:
        vmImage: 'ubuntu-latest'
      strategy:
        matrix:
          default_dependencies_conda:
            FACET_V_PYTHON_BUILD: '=3.7.*'
            BUILD_SYSTEM: 'conda'
            PKG_DEPENDENCIES: 'default'
          minimum_dependencies_conda:
            FACET_V_PYTHON_BUILD: '=3.6.*'
            BUILD_SYSTEM: 'conda'
            PKG_DEPENDENCIES: 'min'
          maximum_dependencies_conda:
            FACET_V_PYTHON_BUILD: '=3.8.*'
            BUILD_SYSTEM: 'conda'
            PKG_DEPENDENCIES: 'max'
          unconstrained_dependencies_conda:
            FACET_V_PYTHON_BUILD: '>=3.6,<4'
            PKG_DEPENDENCIES: 'unconstrained'
            BUILD_SYSTEM: 'conda'
          default_dependencies_tox:
            FACET_V_PYTHON_BUILD: '=3.7.*'
            BUILD_SYSTEM: 'tox'
            PKG_DEPENDENCIES: 'default'
          minimum_dependencies_tox:
            FACET_V_PYTHON_BUILD: '=3.6.*'
            BUILD_SYSTEM: 'tox'
            PKG_DEPENDENCIES: 'min'
          maximum_dependencies_tox:
            FACET_V_PYTHON_BUILD: '=3.8.*'
            BUILD_SYSTEM: 'tox'
            PKG_DEPENDENCIES: 'max'
          unconstrained_dependencies_tox:
            FACET_V_PYTHON_BUILD: '>=3.6,<4'
            PKG_DEPENDENCIES: 'unconstrained'
            BUILD_SYSTEM: 'tox'

      steps:
        - task: UsePythonVersion@0
          inputs:
            versionSpec: '$(FACET_V_PYTHON_BUILD)'
          displayName: 'Use Python $(FACET_V_PYTHON_BUILD)'

        - checkout: self
        - checkout: sklearndf
        - checkout: pytools

        - script: dir $(Build.SourcesDirectory)

        - script: |
            conda install -y conda-build toml=0.10.* flit=3.0.*
          displayName: 'Install conda-build, flit, toml'
          condition: eq(variables['BUILD_SYSTEM'], 'conda')

        - script: |
            python -m pip install "toml==0.10.*"
            python -m pip install "flit==3.0.*"
            flit --version
            python -m pip install "tox==3.20.*"
            tox --version
          displayName: 'Install tox, flit & toml'
          condition: eq(variables['BUILD_SYSTEM'], 'tox')

        - task: Bash@3
          inputs:
            targetType: 'inline'
            script: |
              if [ "$BUILD_SYSTEM" = "conda" ] ; then eval "$(conda shell.bash hook)" ; fi

              cd $(Build.SourcesDirectory)/pytools
              ./make.py pytools $(BUILD_SYSTEM) $(PKG_DEPENDENCIES)
              cd $(Build.SourcesDirectory)/sklearndf
              ./make.py sklearndf $(BUILD_SYSTEM) $(PKG_DEPENDENCIES)
              cd $(Build.SourcesDirectory)/facet
              ./make.py facet $(BUILD_SYSTEM) $(PKG_DEPENDENCIES)

          displayName: "Build & test conda&pip package"