name: facet-develop
channels:
  - conda-forge
  - bcg_gamma
dependencies:
  - black = 20.8b1
  - boruta_py >= 0.3
  - conda-build = 3.20.*
  - conda-verify = 3.1.*
  - docutils = 0.16.*
  - flit = 3.0.*
  - gamma-pytools >=1.0,<2
  - isort = 5.5.*
  - joblib >= 0.16
  - jupyter >= 1.0
  - lightgbm >= 3.0
  - m2r = 0.2.*
  - matplotlib >= 3.3
  - nbsphinx = 0.7.*
  - numpy >= 1.16
  - pandas >= 1.0
  - pip >= 20
  - pluggy = 0.13.*
  - pre-commit = 2.7.*
  - pydata-sphinx-theme = 0.4.*
  - pytest = 5.2.*
  - pytest-cov = 2.8.*
  - python = 3.8.*
  - pyyaml >= 5.1
  - scikit-learn >=0.23.1,<0.24
  - scipy = 1.5.*  # todo: upgrade to 1.6 once we support scikit-learn 0.24
  - seaborn = 0.11.*
  - sklearndf >=1.0,<2
  - sphinx = 3.4.*
  - sphinx-autodoc-typehints = 1.11.*
  - tableone = 0.7.*
  - toml = 0.10.*
  - tox = 3.20.*
  - typing_inspect >= 0.4
  - xlrd >= 1.2
  - yaml > 0.2
  - pip:
      - shap >=0.35,<0.39
