name: facet-develop
channels:
  - conda-forge
  - bcg_gamma
dependencies:
  # run
  - boruta_py ~= 0.3
  - gamma-pytools ~= 2.0
  - joblib ~= 1.1
  - lightgbm ~= 3.3
  - matplotlib ~= 3.5
  - numpy ~= 1.22
  - pandas ~= 1.4
  - python ~= 3.8.12
  - scikit-learn ~= 1.0.2
  - scipy ~= 1.8
  - shap ~=0.40
  - sklearndf >= 2.0.dev3, < 3a
  # build/test
  - black ~= 22.3
  - conda-build ~= 3.21
  - conda-verify ~= 3.1
  - docutils ~= 0.17
  - flit ~= 3.0
  - isort ~= 5.10
  - jinja2 ~= 2.11
  - markupsafe < 2.1  # markupsafe 2.1 breaks support for jinja2
  - m2r ~= 0.2
  - mypy ~= 0.931
  - pluggy ~= 0.13
  - pre-commit ~= 2.17
  - pydata-sphinx-theme ~= 0.7
  - pytest ~= 7.1
  - pytest-cov ~= 2.12
  - pyyaml ~= 5.4
  - sphinx ~= 4.4
  - sphinx-autodoc-typehints ~= 1.12
  - toml ~= 0.10
  - tox ~= 3.24
  - yaml ~= 0.2
  # notebooks
  - jupyterlab ~= 3.2
  - nbclassic ~= 0.3
  - nbsphinx ~= 0.8.8
  - openpyxl ~= 3.0
  - seaborn ~= 0.11
