[build-system]
requires = ["flit_core >=2,<4"]
build-backend = "flit_core.buildapi"

[tool.flit.sdist]
exclude = [".idea", "tmp", "dist", ".tox", ".pytest_cache"]

[tool.flit.metadata]
module = "facet"
author = "Boston Consulting Group (BCG)"
home-page = "https://github.com/BCG-Gamma/facet"
description-file = "pypi_description.rst"
dist-name = "gamma-facet"
license = "Apache Software License v2.0"

requires = [
    # direct requirements of gamma-facet
    "gamma-pytools  <2",
    "matplotlib     >=3.0,<3.4",
    "numpy          >=1.16,<1.21",
    "packaging      >=20",
    "pandas         >=0.24,<1.3",
    "scipy          >=1.2,<1.6",
    "shap           >=0.34,<0.39",
    "sklearndf      >=1.0.2rc0,<2",
    # additional requirements of sklearndf
    "boruta         >=0.3",
    "lightgbm       >=3.0",
    "scikit-learn   >=0.21,<0.24",
    # additional requirements of gamma-pytools
    "joblib         >=0.13,<1.1",
    "typing_inspect >=0.4,<0.7",
    # additional requirements of shap 0.38
    # todo: remove once supported via shap 0.38 requirements
    "ipython        >=7",
]

requires-python = ">=3.6,<3.9"

classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: MacOS",
    "Operating System :: Microsoft :: Windows",
    "Operating System :: POSIX :: Linux",
    "Operating System :: Unix",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Topic :: Scientific/Engineering",
]

[tool.flit.metadata.requires-extra]
testing = [
    "pytest >= 5.2.*",
    "pytest-cov == 2.8.*",
    "flake8 == 3.8.*",
    "flake8-comprehensions == 3.2.*",
    "isort == 5.5.*",
]
docs = [
    "sphinx == 3.4.*",
    "sphinx-autodoc-typehints == 1.11.*",
    "pydata-sphinx-theme == 0.4.*",
    "nbsphinx == 0.7.*",
    "jupyter >= 1.0",
    "docutils",
    "xlrd == 1.2.*",
    "m2r == 0.2.*",
]

[tool.flit.metadata.urls]
Documentation = "https://bcg-gamma.github.io/facet/"
Repository = "https://github.com/BCG-Gamma/facet"

[build.matrix.min]
# direct requirements of gamma-facet
gamma-pytools  = "<1.1"
matplotlib     = "=3.0.*"
numpy          = "=1.16.*"
packaging      = "=20.*"
pandas         = "=0.24.*"
python         = "=3.6.*"
scipy          = "=1.2.*"
shap           = "=0.34.*"
sklearndf      = "=1.0.2rc0"
# additional requirements of sklearndf
boruta         = "=0.3.*"
lightgbm       = "=3.0.*"
scikit-learn   = "=0.21.*"
# additional requirements of gamma-pytools
joblib         = "=0.13.*"
typing_inspect = "=0.4"

[build.matrix.max]
gamma-pytools  = "<2"
matplotlib     = "=3.3.*"
numpy          = "<1.21"
packaging      = ">=20"
pandas         = "<1.3"
python         = "=3.8.*"
scipy          = "<1.6"
shap           = ">=0.37,<0.39"
sklearndf      = ">=1.0.2rc0,<2"
# additional requirements of sklearndf
boruta         = ">=0.3"
lightgbm       = ">=3.0"
scikit-learn   = "=0.23.*"
# additional requirements of gamma-pytools
joblib         = "<1.1"
typing_inspect = "<0.7"

[tool.black]
# quiet = "True"
line-length = 88
target_version = ['py36']
include = '\.pyi?$'
exclude = '''
(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | data
    | docs
    | notebooks
    | sphinx
  )/
)
'''